<div class="container">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">

        <div class="container-fluid">
            <a href="#" class="dreamShopCss" style="text-decoration: none; color: black;">
                <h2 style="margin-right: 25px;">DREAM SHOP</h2>
            </a>

            <a class=" navbar-brand" href="#trang-chu">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#san-pham">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#gioi-thieu">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#su-kien">Sự kiện</a>
                    </li>
                </ul>

                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <div class="css1">

                    <a href="#"><img src="/assets/icons8-shopping-cart-24.png" alt=""></a>
                    <a href="#"><button type="button" class="btn  position-relative">
                            <img src="/assets/icons8-favorite-24.png" alt="">
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                8
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button></a>

                    <a href="#"><img src="/assets/icons8-user-24.png" alt=""></a>

                </div>

            </div>
        </div>
    </nav>
</div>